<section class="hero py-16 text-gray-800">

    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
          <h1 class="text-3xl md:text-6xl font-bold">Oh yeah, it’s that good.</h1>
            <h6 class="text-lg"><em>See for yourself.</em></h6>
            <a class="inline-block px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary" href="#menu-begin">Order Now</a>
        </div>
        <div class="w-1/2">
            <img src="https://i.pinimg.com/originals/d0/90/02/d09002b6a1bcb269387fe31cecb7c8da.png" alt="">
        </div>
    </div>

</section>

<section class="menu container mx-auto py-8" id="menu-begin">

    <h1 class="text-xl font-bold mb-8 text-center choose-title">Vegetarian</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-10 gap-x-10">

        <% items.forEach( item => { %>
          <% if(item.category === 'veg') {%>
        <div class="w-full md:w-64 rounded-xl shadow-md bg-white-100 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= item.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= item.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs bg-green-500 text-white"><%= item.category %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= item.price %><em class="text-sm">/Plate</em></span>
                    <button data-item="<%= JSON.stringify(item) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <%};%>
        <% }); %>

    </div>

    <h1 class="text-xl font-bold my-8 text-center choose-title">Non Vegetarian</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-10 gap-x-10">

        <% items.forEach( item => { %>
          <% if(item.category === 'non-veg') {%>
        <div class="w-full md:w-64 rounded-xl shadow-md bg-white-100 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= item.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= item.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs bg-red-500 text-white"><%= item.category %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= item.price %><em class="text-sm">/Plate</em></span>
                    <button data-item="<%= JSON.stringify(item) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <%};%>
        <% }); %>

    </div>

    <h1 class="text-xl font-bold my-8 text-center choose-title">Desserts</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-10 gap-x-10">

        <% items.forEach( item => { %>
          <% if(item.category === 'dessert') {%>
        <div class="w-full md:w-64 rounded-xl shadow-md bg-white-100 py-6">
            <img class="h-40 mb-4 mx-auto" src="/img/<%= item.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= item.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs bg-yellow-500 text-white"><%= item.category %></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= item.price %><em class="text-sm">/Plate</em></span>
                    <button data-item="<%= JSON.stringify(item) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <%};%>
        <% }); %>

    </div>

</section>
