<section class="orders light-section bg-gray-100 text-gray-800">
    <div class="container mx-auto pt-4 md:pt-12">

              <h1 class="font-bold text-lg mb-4 choose-title">Completed Orders</h1>

              <div class="flex flex-col md:flex-row flex-wrap">
                <% if(orders.length) { %>
                <% orders.forEach((order) => { %>
                  <% if(order.status === 'completed') { %>
                    <div class="rounded shadow-md bg-white py-3 mb-3 sm:py-4 sm:px-8 md:ml-3">
                      <div class="px-4 pb-2 font-bold text-lg border-b">
                          <a class="link bg-gray-100 py-1 rounded-full px-4 text-green-600 font-bold" href="/admin/orders/<%= order._id %>"><span>Order Number: </span><%= String(order._id).substring(19,24) %></a>
                      </div>
                      <div class="px-4 pt-2">
                          Event: <%= order.eventtype %>
                      </div>
                      <div class="px-4">
                          Venue: <%= order.address %>
                      </div>
                      <div class="px-4">
                          Date & Time: <%= moment(order.datetime).format('Do MMMM YYYY @ hh:mm A') %>
                      </div>
                    </div>
                  <%}%>

                <% }) %>
                <% } else { %>
                <div class="rounded-xl shadow-md px-4 py-2 font-bold capitalize">
                    <p class="p-4"><span>No orders found!</span></p>
                </div>
                <% } %>
              </div>
    </div>
</section>
