<section class="status py-5 text-gray-800">
    <div class="container mx-auto md:w-1/2">

      <div class="mx-auto">
        <% if (order.status === 'completed') {%>
          <div class="flex flex-col sm:flex-row items-center justify-between mb-5">
              <h1 class="text-xl font-bold">Cheers, This Event Is Complete.</h1>
              <h6 class="link bg-white py-1 mt-2 sm:mt-0 rounded-full px-4 text-xs">Order Number: <%=
                  String(order._id).substring(19,24) %></h6>
              <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
          </div>

          <% if (order.feedback === 'not_submitted') {%>
          <div class="text-center mb-4 rounded shadow bg-white py-4 px-8">
            <p class="font-bold mb-2">Feedback Not Received.</p>
          </div>
          <%} else {%>
            <div class="text-center mb-4 rounded shadow bg-white py-4 px-8">
              <p class="font-bold mb-2">Customer Feedback</p>
              <p><%= order.feedback %></p>
            </div>
          <%} %>

        <%} else if (order.status === 'cancelled'){%>
          <div class="flex flex-col sm:flex-row items-center justify-between mb-5">
              <h1 class="text-xl font-bold">You Cancelled This Order.</h1>
              <h6 class="link bg-white py-1 mt-2 sm:mt-0 rounded-full px-4 text-xs">Order Number: <%=
                  String(order._id).substring(19,24) %></h6>
              <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
          </div>
        <%} %>

          <h1 class="font-bold text-lg mb-4 choose-title">Event Details</h1>

          <div>
            <div class="rounded shadow-md bg-white py-4 px-8">
              <div class="text-center sm:text-left mb-2 ">Order Number: <span class="bg-gray-100 py-1 rounded-full px-4 text-green-600 font-bold link"><%= String(order._id).substring(19,24) %></span></div>
              <div class="text-center sm:text-left">Event: <span class="font-bold"><%= order.eventtype %></span><span class="font-bold">, <%= moment(order.datetime).format('on Do MMMM YYYY @ hh:mm A') %></span></div>
              <div class="text-center sm:text-left">Event Venue: <span class="font-bold"><%= order.address %></span></div>
              <div class="text-center sm:text-left">Number Of Guests: <span class="font-bold"><%= order.guests %></span></div>
              <div class="text-center sm:text-left">Contact Number: <span class="font-bold">+91 <%= order.phone %></span></div>
            </div>


              <div class="font-bold text-lg my-3 choose-title"><span>Items Ordered</span></div>

              <div class="rounded shadow-md bg-white py-4 px-8">
                <% for(let item of Object.values(order.items)) {%>
                  <% for(let inneritem of Object.values(item)) {%>
                    <div class="text-center sm:text-left
                    <% if(inneritem.category === 'veg' || inneritem.category === 'rice & roti\'s (veg)') {%>
                      text-green-700
                    <% } else if(inneritem.category === 'non-veg' || inneritem.category === 'rice & roti\'s (non-veg)') {%>
                      text-red-700
                    <% } else if(inneritem.category === 'dessert'){%>
                      text-yellow-700
                    <% } else if(inneritem.category === 'salad') {%>
                      text-purple-700
                      <%} else if (inneritem.category === 'drinks') {%>
                        text-blue-700
                      <%}%>
                    "><span class="font-bold"><%= inneritem.name %></span>
                    </div>
                  <%}%>
                  <%}%>
              </div>

              <div class="font-bold text-md text-lg my-3 choose-title">Custom Requests</div>
              <div class="rounded shadow-md bg-white py-4 px-8">
                <div class=" text-md text-yellow-900"><span><%= order.customization %></span>
                </div>
              </div>

              <div class="font-bold text-md text-lg my-3 choose-title">Other Details</div>
              <div class="rounded shadow-md bg-white py-4 px-8">
                <div>Payment Mode: <span class=" text-md text-yellow-900 capitalize"><%= order.paymentType %></span></div>
                <div>Payment Status: <span class=" text-md text-yellow-900 capitalize"><% if(order.paymentStatus === true) { %>
                   Paid
                  <%} else {%>
                    Not Paid
                  <%}%>
                </span></div>
                <div>Amount Per Plate: <span class=" text-md text-yellow-900">₹<%=totalPrice %></span></div>
                <div>Total Amount: <span class=" text-md text-yellow-900">₹<%= totalPrice * order.guests%></span></div>
              </div>


          </div>

      </div>

    </div>
</section>
