<section class="cart py-5 md:py-16">

  <% if(session.cart) {%>

  <div class="order container mx-auto xl:w-1/2 text-gray-800">

    <div class="flex items-center border-b border-gray-300 pb-4 text-gray-800">
      <img src="/img/cart-black.png" alt="cart-icon">
      <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
    </div>

    <div class="pizza-list">

      <% for(let item of Object.values(session.cart.items)) {%>

      <div class="flex flex-col sm:flex-row items-center my-4 rounded-xl shadow-md bg-white py-4 px-8">
        <img class="w-24" src="/img/<%= item.item.image %>" alt="">
        <div class="flex-1 text-center mt-3 md:ml-4 md:text-left">
          <h1 class="font-bold text-lg md:text-md"><%= item.item.name %></h1>
          <span class="uppercase py-1 px-2 mt-4 rounded-full text-xs text-white
          <% if(item.item.category === 'veg') {%>
            bg-green-500
          <% } else if(item.item.category === 'non-veg') {%>
            bg-red-500
          <% } else if(item.item.category === 'dessert'){%>
            bg-yellow-500
          <% }%>
          "><%= item.item.category %></span>
        </div>
        <span class="flex-1 my-2 mt-7 md:mt-0 md:my-0">
          <button data-item="<%= JSON.stringify(item.item) %>" class="remove-from-cart btn-primary text-sm sm:text-md px-4 py-1 sm:ml-10 md:ml-0 rounded-full text-white font-bold">Remove</button>
        </span>
        <span class="font-bold text-lg">₹<%= item.item.price %></span>
      </div>

      <%}%>

    </div>
    <div class="text-right py-4">
      <div class="">
        <span class="text-lg font-bold">Subtotal is</span>
        <span class="amount text-2xl font-bold ml-2" id="subTotalPrice">₹<%= session.cart.totalPrice %></span>
        <span class="text-lg font-bold"><em>/Plate</em></span>
      </div>
    <hr class="mt-3">

      <% if(user) {%>
      <div class="">
        <form action="/orders" method="POST" class="mt-3">

          <h1 class="text-xl font-bold mb-3">Event Details</h1>
          <% if (messages.error) { %>
            <span class="block text-red-500 text-sm mb-1"><%= messages.error %></span>
          <% }%>
          <input class="border border-gray-400 p-2 w-full md:w-1/2 mb-4 rounded" type="number" placeholder="Number Of Guests (10 -1000 or More)" name="guests" min="1" id="guestsNumber" required>
          <input class="border border-gray-400 p-2 w-full md:w-1/2 mb-4 rounded" type="tel" placeholder="Phone Number (9676567890)" name="phone" pattern="[0-9]{10}" required>
          <div class="flex flex-col items-end">
          <label for="eventtype">Weddings, Birthdays, Reunions</label>
          <input class="border border-gray-400 p-2 w-full md:w-1/2 mb-4 rounded" id="eventtype" type="text" placeholder="What Is The Event? " name="eventtype" required>
        </div>
          <div class="flex flex-col items-end">
            <label for="eventtime">Event Date and Time</label>
            <input class="border border-gray-400 p-2 w-full md:w-1/2 mb-4 rounded" type="datetime-local" name="datetime" id="eventtime" required>
          </div>
          <textarea name="address" class="border border-gray-400 p-2 w-full md:w-1/2 rounded" placeholder="Event Venue" required></textarea>
          <textarea name="customization" class="border border-gray-400 p-2 w-full md:w-1/2 rounded" placeholder="Any Custom Requirements (This Field Is Optional)"></textarea>
          <div class="mt-2">
            <span class="text-lg font-bold">Total For <span id="guestsNumberHolder">1</span> Guest(s) is</span>
            <span id="totalPlatePrice" class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
          </div>
          <div class="">
            <button type="submit" name="button" class="btn-primary px-6 py-2 rounded text-white font-bold mt-6">Order Now</button>
          </div>
        </form>
      </div>
      <% } else {%>
      <a href="/login" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded text-white font-bold mt-6">Login to continue</a>
      <%}%>

    </div>
  </div>

  <%} else {%>

  <div class="empty-cart py-5 text-gray-800">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-4">Your Cart is Empty</h1>
      <p class="text-gray-500 text-lg mb-5">You Probably Haven't Added Anything To Cart.<br> To order now, go to the main page.
      </p>
      <img class="w-4/5 md:w-2/5 mx-auto mb-4" src="/img/empty-cart.png" alt="empty-cart-image">
      <a href="/" class="inline-block px-6 py-2 rounded btn-primary text-white font-bold mt-3">Order Now</a>
    </div>
  </div>

  <%}%>

</section>
